{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <title>Neibourhood</title>
</head>

<body>
    <div id="container">
        <header class="header">
            <div class="header__logo">
                <h1 class="heading-1">
                    <a href="{% url 'home' %}">Neighbourhood</a>
                </h1>
            </div>

            <div class="header__center">
                <form action="">

                    <input type="search" name="search">
                </form>

                <nav class="nav__items">
                    <a href="{% url 'home' %}" class="nav__item">Home</a>
                    <a href="{% url 'biz_list' %}" class="nav__item">Business</a>
                    <a href="#" class="nav__item">Contacts</a>

                </nav>
            </div>

            <div class="header__right">

                <a href="#">Profile</a>
                <a href="{% url 'logout' %} " class="logout">Logout</a>
            </div>

        </header>

        <main class="main">
            {% block content %}
            {% endblock %}

        </main>
    </div>

</body>

</html>