{% extends 'base.html' %}


{% block content %}
<div class="contact">

    <div class="contact__police">
        <h2 class="contact__police-title">Police</h2>
        <p class="contact__police-text">
            Tel: <a href="tel:+254712345678">+254712345678</a>
        </p>


    </div>
    <div class="contact__hospital">
        <h2 class="contact__hospital-title">Hospital</h2>
        <p class="contact__hospital-text">
            Tel: <a href="tel:+254712345678">+254712345678</a>
        </p>

    </div>
</div>
{% endblock %}