{% extends 'base.html' %}


{% block content %}

<div class="businesses">
    <a href="{% url 'create_post' %} " class="btn btn--create-biz">Create post</a>

    {% if posts %}
    {% for post in posts %}
    <div class="biz">
        <h3 class="biz__name">{{ post.name }}</h3>
        <p class="biz__email">{{ business.email }}</p>
        <p class="biz__location">{{ business.neighbourhood }}</p>

    </div>
    {% endfor %}
    {% else %}
    <h1 class="heading-1">
        No posts in your neighbourhood
    </h1>

    {% endif %}


</div>
{% endblock %}