{% extends 'base.html' %}


{% block content %}


<div class="box">


    <form class="form__setup-profile" method="POST">
        {% csrf_token %}

        <h3 class="heading-3">Setup Profile</h3>

        <label for="full_names">Full Names</label>
        <input type="text" name="full_names" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <p class="location-info">
            *If your Location/Area is not in the list,
            Click here to add
        </p>

        <label for="gen_location">General Location</label>
        <input name="neighbourhood_location" placeholder="General location" required>


        <label for="neighbourhood_name">Specific Location</label>
        <input name="neighbourhood_name" placeholder="Choose neighbourhood name" required>


        <button type="submit" class="btn">Submit</button>


    </form>


</div>
{% endblock %}