.header,
.footer {
  display: none;
}

.auth__form p {
  display: flex;
  flex-direction: column;
}

.auth__form ul {
  /* Extra info from django auth */
  display: none;
}

.auth__btn {
  font-size: 2rem;
  width: 100%;
  margin: 4rem auto 2rem;
  color: var(--color-white);
  background-color: var(--color-primary-1);

  transform: all 0.5s;
}

.auth__btn:hover {
  background-color: var(--color-primary-2);
}
